<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
</head>
<body>
    
    <form method="POST" action="{{ url_for('link', address = data['_links']['linkFile']['href'])}}" enctype="multipart/form-data">
        <fieldset>
            id: 
            {{data['id']}} <br>
            Author: 
            {{data['author']}} <br>
            Title: 
            {{data['title']}} <br>
            Year:
            {{data['year']}} <br>
            <br>
            Files: <br>
            {% for k, v in data['_links'].items() %}
            {%if k[0:4]=='file'%}
            {{ k }} <a href="{{ url_for('unlink', address = data['_links']['unLinkFile']['href'], method = data['_links']['unLinkFile']['type'], id = v['name'] )}}">Unlink</a>
            <a href="{{ url_for('download', address = data['_links'][k]['href']) }}">Download </a> 
            <br>
            {% endif %}
            {% endfor %}
                
                <p>Link file</p>
                <select name="fileId">
                    {% for id in ids %}
                    <option value ='{{ id }}'>{{ id }}</option>
                    {% endfor %}
                </select> 
                <input type="submit" value="Submit">
            <br>
            <a href="{{ url_for('delete', address = data['_links']['delete']['href'])}}">Delete this publication</a>
            <br>
            <a href="{{ url_for('publications') }}">Back</a>
            
        </fieldset>
    </form>
    
    <!-- <script src="../static/upload.js"></script> -->
</body>

</html>